<header class="site-header">
    <div class="container">
        <div class="logo">
            <img src="{{ asset('images/logo.svg') }}" alt="Logo Bucket List">
            <h1>Bucket-List</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('homepage') }}">Home</a>
                </li>
                <li>
                    <a href="{{ path('about_us') }}">A propos</a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ path('wish_index') }}">Mes souhaits</a>
                    </li>
                    <li>
                        <a href="{{ path('wish_new') }}">Ajouter</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li>
                        <a href="{{ path('app_register') }}">Créer compte</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>