{% extends 'base.html.twig' %}

{% block title %}{{ wish.title }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ wish.title }}</h1>
        <p>{{ wish.author }} | {{ wish.dateCreated|date('d/m/Y') }} | {{ wish.category.name }}</p>
        <p>{{ wish.description }}</p>
    </div>
{% endblock %}

