{% extends 'base.html.twig' %}

{% block title %}{{ wish.title }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ wish.title }}</h1>
        <p>
            {{ wish.author }}
            |
            {{ wish.dateCreated|date('d/m/Y') }}
            |
            <a href="{{ path('category_show', {'id': wish.category.id}) }}">
                {{ wish.category.name }}
            </a>
        </p>
        <p>{{ wish.description }}</p>
    </div>
{% endblock %}

